{% extends 'base.html' %}
{% block title %}
    메인페이지
{% endblock %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">{{ user.username }}</h5>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/erp">  상품 등록 <span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/erp/{{ user.id }}">  재고 관리 <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-7">
                <!-- 글을 작성 하는 곳 -->
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0"> -상품등록- </h5>
                                        <p>
                                        <form action="/erp/" method="post">
                                            {% csrf_token %}
                                            <div class="form-group mb-2">
                                                <input type="text" placeholder="코드번호" name="code" class="form-control"
                                                       style="resize: none; height: 50px">
                                            </div>
                                            <div class="form-group mb-2">
                                                <input type="text" placeholder="상품설명" name="description"
                                                       class="form-control" style="resize: none; height: 100px">
                                            </div>
                                            price :
                                            <input style="width: 80px; margin-bottom: 5px" type="text" name="price">
                                            name :
                                            <input style="width: 150px; margin-bottom: 5px" type="text" name="name"><br>
                                            <select name='category'> <!-- 드롭다운 메뉴 -->
                                                <option value="j">청바지</option>
                                                <option value="h">후드티</option>
                                            </select>
                                            <select name='size'> <!-- 드롭다운 메뉴 -->
                                                <option value="S">Small</option>
                                                <option value="M">Medium</option>
                                                <option value="L">Large</option>
                                                <option value="F">Free</option>
                                            </select>
                                            <button type="submit" class="btn btn-primary" style="float:right;">등록하기
                                            </button>
                                        </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}