{% extends 'base.html' %}

{% block title %}
    게시글 자세히보기
{% endblock %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">{{ user.username }}</h5>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/erp">  상품 등록 <span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/erp/list/{{ user.id }}"> 상품 정보 <span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/erp/{{ user.id }}">  재고 관리 <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="media-body">
                                            <h5 class="mt-0"> -재고관리- </h5>
                                            <p>
                                            <form action="/erp/{{ user.id }}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group mb-2">
                                                    <input type="text" placeholder="코드번호" name="code"
                                                           class="form-control"
                                                           style="resize: none; height: 50px; width: 200px; display: inline-block">
                                                    수량
                                                    <input type="number" name="increased_inventory" min="1" max="1000"
                                                           step="1"
                                                           value="1" style="display: inline-block">
                                                    <button type="submit" class="btn btn-primary" style="float:right;">
                                                        입고
                                                    </button>
                                                    <hr>
                                                </div>
                                            </form>
                                            <form action="/erp/delete-inventory/{{ user.id }}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group mb-2">
                                                    <input type="text" placeholder="코드번호" name="code"
                                                           class="form-control"
                                                           style="resize: none; height: 50px; width: 200px; display: inline-block">
                                                    수량
                                                    <input type="number" name="increased_inventory" min="1" max="1000"
                                                           step="1"
                                                           value="1" style="display: inline-block">
                                                    <button type="submit" class="btn btn-primary" style="float:right;">
                                                        출고
                                                    </button>
                                                    <hr>
                                                </div>
                                            </form>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="table" class="table" style="text-align: center">
                            <thead>
                            <tr>
                                <th>카테고리</th>
                                <th>상품명</th>
                                <th>사이즈</th>
                                <th>상품코드</th>
                                <th>재고</th>
                                <th>출고량</th>
                            </tr>
                            {% for iv in inventory %}
                                <tr>
                                    <th>{{ iv.product.category }}</th>
                                    <th>{{ iv.product.name }}</th>
                                    <th>{{ iv.product.size }}</th>
                                    <th>{{ iv.product.code }}</th>
                                    <th>{{ iv.increased_inventory }}</th>
                                    <th>{{ iv.decreased_inventory }}</th>
                                </tr>
                            {% endfor %}
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}