{% extends 'base.html' %}
{% block title %}
    메인페이지
{% endblock %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">{{ user.username }}</h5>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/erp"> 상품 등록 <span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/erp/{{ user.id }}"> 재고 관리 <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}